page-landing {


ion-content {
	    background-image: url('https://i.imgur.com/0IqPHW8.png');
    	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 
	    
	}


}
